.form {
	max-width: 300px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	border: 1px solid black;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 20px;
}

.field {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
}

.error {
	color: red;
	font-size: 15px;
}

.btn {
	align-self: center;
	margin-bottom: 10px;
}
